<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Práctica 2: CSV by alu0100699968 and alu0100696455</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script type="text/javascript" src="csv.js"></script>
    <script type="text/html" id="template">
		<p>
			<table class="center" id="result">
				<% _.each(rows, function(row) { %>
				<tr <%=row.type%>>
					<% _.each(row.items, function(name) { %>
					<td><%= name %></td>
					<% }); %>
				</tr>
				<% }); %>
			</table>
		</p>
	</script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Práctica 2: Comma  Separated Values</h1>
        <p></p>

        <p class="view"><a href="https://github.com/alu0100699968/PL_P2_CVS">View the Project on GitHub <small>alu0100699968/PL_P2_CVS</small></a></p>


        <ul>
          <li><a href="https://github.com/alu0100699968/PL_P2_CVS/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/alu0100699968/PL_P2_CVS/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/alu0100699968/PL_P2_CVS">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        <h3>
<a id="práctica-2-de-procesadores-de-lenguajes-cvs" class="anchor" href="#pr%C3%A1ctica-2-de-procesadores-de-lenguajes-cvs" aria-hidden="true"><span class="octicon octicon-link"></span></a>Analizador CSV</h3>
        <div>
          <i>Escriba un string CSV. Al hacer click en el butón se mostrará una tabla con la interpretación de los datos</i>
        </div>
        <p></p>
        <tr>
          <th>String CSV:</th> <!-- autofocus attribute is HTML5 -->
          <td><textarea autofocus cols = "80" rows = "5" id="original"></textarea></td>
        </tr>
        <button type="button" id="buttona">Tabla</button><br>
        <span class="output" id="finaltable"></span>
        <br>
        <p><strong>Consulte los tests <a href="tests/index.html">aquí</a>.</strong></p>
        <iframe src="tests/index.html" width="600" height="400"></iframe>
      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/alu0100699968">alu0100699968</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>

  </body>
</html>
