<h1>Analizador CSV</h1>
<div>
  <p><i>Escriba un string CSV. Al hacer click en el botón se mostrará una tabla con la interpretación de los datos.</i></p>
<p>String CSV:</p>
<table>
<tr>
  <td><textarea autofocus cols = "80" rows = "5" id="original"></textarea></td>
</tr>
</table>
<button type="button" id="buttona">Tabla</button><form action="/tests">
    <input type="submit" value="Tests">
</form><br>
<span class="output" id="finaltable"></span>
</div>
